
<div>
  <h3>Products list:</h3>
  <table class="table table-bordered table-hover" style="width:20%">
    <tr>
      <th>Pid</th>
      <th>Pname</th>
      <th>Cost</th>
      <th>CategoryId</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.pid}}</td>
      <td>{{product.pname}}</td>
      <td>{{product.cost}}</td>
      <td>{{product.categoryId}}</td>
      <jce-product [product] = "product"
      (deleteEvent) = "deleteProduct($event)"> </jce-product>
    </tr>
  </table>
</div>

<div>
  <h3>Products list with join:</h3>
  <table class="table table-bordered table-hover" style="width:20%">
    <tr>
      <th>Pid</th>
      <th>Pname</th>
      <th>Cost</th>
      <th>Category name</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.pid}}</td>
      <td>{{product.pname}}</td>
      <td>{{product.cost}}</td>
      <!--td>{{product.categoryId}}</td-->
      <td *ngFor = "let product of product.categoryName"> {{(product | async)?.name}} </td>
      <jce-product [product] = "product"
      (deleteEvent) = "deleteProduct($event)"> </jce-product>
    </tr>
  </table>
</div>